
name: External

on: repository_dispatch

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    # - uses: actions/checkout@v2
    - name: Get requested action
      run: echo Action=${{github.event.client_payload.action}}
    - name: Mic rotate auth
      uses: ./.github/actions/'${{github.event.client_payload.action}}'
      env:  
        ENVIRONMENT: '${{github.event.client_payload.environment}}'
        CLUSTER: '${{github.event.client_payload.cluster}}'
