
name: Integration Test

on: 
  repository_dispatch:
    types: integration-test_*

jobs:
  workflow:
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout pipeline repository
      uses: actions/checkout@v2
    - name: Checkout work repository
      uses: actions/checkout@v2
      with:
        repository: '${{ github.event.client_payload.repository_name }}'
        ref: '${{ github.event.client_payload.repository_sha }}'
        path: './work/'
    # - name: Integration test script
    #   run: scripts/test-integration.sh
    #   env: 
    #     WORK_REPOSITORY: '${{ github.event.client_payload.repository_name }}'
    #     WORK_REPOSITORY_SHA: '${{ github.event.client_payload.repository_sha }}'
    - name: Commit status update
      run: scripts/update-gh-commit-status.sh
      env: 
        WORK_REPOSITORY_NAME: '${{ github.event.client_payload.repository_name }}'
        WORK_REPOSITORY_SHA: '${{ github.event.client_payload.repository_sha }}'
        PA_TOKEN: '${{ secrets.PA.TOKEN }}'
